# Dependencies
node_modules/
.pnp
.pnp.js

# Production builds
.next/
dist/
out/
build/

# Misc
.DS_Store
*.pem
*.key

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Deployment artifacts
deploy.tar.gz
news-app.tar.gz

# IDE
.vscode/
.idea/

# OS
Thumbs.db
